body {
	background-color: black;
}

img {
	width: 640px; 
	height: 400px;
}
table,th,td {
	border:1px solid rgb(0, 255, 0);
	text-align:center;
	margin:auto;
}
h1{
	text-align:center;
}
* {
	color: rgb(0, 255, 0);
}